@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    background: #202124;
    font-family: 'Roboto', sans-serif;
    color: white;
}
a{
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
header a{
    color: white;
    font-size: small;
}
.linksup{
    padding: 7.5px ;
}
#apps{
    vertical-align: middle;
    font-size: 24px;
    padding: 7.5px;
}
#account{
    color: violet;
    vertical-align: middle;
    font-size: 35px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
}
.logo img{
    height: 92px;
}

.searchbar{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    width: 40%;
    height: 43px;
    border-radius: 50px;
    border: 1px solid grey;
}
.container input{
    background-color: #202124;
    border: none;
    position: relative;
    bottom: 15px;
    left: 50px;
    width: 83%;
    height: 33px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
input {
    border:0;
    outline:0;
}

input:focus{
    outline:none!important;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#lupa{
    display: inline;
    position: relative;
    left: 4%;
    top: 12px;
}

#micro{
    display: inline;
    position: relative;
    left: 93.5%;
    bottom:42px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    color: white;
    background-color: #303134;
    border: 1px solid #303134;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.idioma{
    font-size: small;
    color: #bdc1c6;
    display: flex;
    justify-content:  center;
    align-items: baseline;
}
.idioma a{
    margin:5px ;
    color: #8ab4f8;
}

footer{
    display: block;
    background-color: #171717;
    height: 95.4px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #999da2;
}

footer p{
    margin: 0px;
    color:#9aa0a6;
}

.Footer-1st{
    font-size: 15px;
    padding: 15px 30px;
    border-bottom:1px solid #303134;

}
.Footer-2nd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
}
.Footer-2nd a{
    color: #999da2;
}

.izquierda{
    margin-left: 20px;
}
.izquierda a{
    padding: 0px 20px 0px 0px;
}

.derecha a{
    padding: 0px 20px 0px 0px;
}